body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f4f4f4, #eaeaea);
    color: #333;
}

header {
    background: linear-gradient(to right, #22022e, #c9cdc9);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #4CAF50;
}

main {
    padding: 20px;
}

pre {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

h3 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background: linear-gradient(to right, #22022e, #c9cdc9);

    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
